.App {
  text-align: center;
  min-height: 90%;
  background-color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.personal-link {
  color: black;
  margin-right: 2%;
}

.App-header {
  background-color: white;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: 282c34;
  margin: 1%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
